{% extends 'dashboard_base.html' %}
{% load static %}

{% load humanize %}

{% block style %}
<style>
    .no-wrap {
        white-space: nowrap;
    }
</style>
{% endblock %}

{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3"><strong>Transfer History</strong></h1>
        <p class="mb-3">Here are your most recent transfer history.</p>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="no-wrap">Date of Transfer</th>
                                        <th class="no-wrap">From Account</th>
                                        <th class="no-wrap">Amount</th>
                                        <th class="no-wrap">To Account</th>
                                        <th class="no-wrap">Bank Name</th>
                                        <th class="no-wrap">Beneficiary</th>
                                        <th class="no-wrap">Account Type</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transaction in transactions %}
                                    <tr>
                                        <!-- <td>{{ transaction.timestamp|date:"M. d" }}</td> -->
                                        <td class="no-wrap">{{ transaction.timestamp}}</td>
                                        <td class="no-wrap">{{ transaction.from_account.account_type}}</td>
                                        <td class="no-wrap">
                                            {{user.preferred_currency}}
                                            {{transaction.amount|floatformat:2|intcomma }}
                                        </td>
                                        <td class="no-wrap">{{ transaction.account_number}}</td>
                                        <td class="no-wrap">{{ transaction.bank_name }}</td>
                                        <td class="no-wrap">{{ transaction.account_holder_name }}</td>
                                        <td class="no-wrap">{{ transaction.account_type }}</td>



                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4" class="text-center">No transactions available</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}